<header>
  <a href="#/album" id="linkAlbums"><img class="navigation" src="/icons/files.png"/></a>
  <a href="#/artist" id="linkArtist"><img class="navigation" src="/icons/contacts.png"/></a>
  <a href="#/images" id="linkImages"><img class="navigation" src="/icons/camera.png"/></a>
  <a href="#/player" id="linkPlayer"><img class="navigation" src="/icons/music.png"/></a>
  
  Search: <input ng-model="query">
  <select ng-model="orderProp">
    <option value="album">Alphabetical</option>
    <option value="artist">Artist</option>
    <option value="year">Year</option>
  </select>
</header>

<div class="span2">
  Search: <input ng-model="query">
  <select ng-model="orderProp">
    <option value="album">Alphabetical</option>
    <option value="artist">Artist</option>
    <option value="year">Year</option>
  </select>
</div>

<span ng-repeat="album in albums | filter:query | orderBy:orderProp">
  <a class="hovertext" href="#/album/{{album.id}}" title="{{album.album}} - {{album.artist}} ({{album.year}})">
    <img ng-src="/album/{{album.id}}/cover.jpg" width="{{imageSize}}" height="imageSize" class="list-cover"/>
  </a>
</span>
