<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Squawk Media Server</title>
    <link rel="stylesheet" href="style.css">
    <script src="/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            var frag = document.createDocumentFragment();
            $.get( "/api/artists", function( data ) {
                for(i=0; i<data.length; i++) {
                    var aArtistRef = document.createElement("a");
                    aArtistRef.setAttribute("href","#/artist/" + data[i].id + "/album");
                    var spanTextArtist = document.createTextNode(data[i].name);
                    aArtistRef.appendChild(spanTextArtist);
                    frag.appendChild(aArtistRef);
                    frag.appendChild(document.createElement("br"));
                }
                $('#artist-view').append(frag);
            });
        });
    </script>
  </head>
  <body>
      <header>
        <a href="#/album" id="linkAlbums"><img class="navigation" src="/icons/files.png"/></a>
        <a href="#/artist" id="linkArtist"><img class="navigation" src="/icons/contacts.png"/></a>
        <a href="#/images" id="linkImages"><img class="navigation" src="/icons/camera.png"/></a>
        <a href="#/player" id="linkPlayer"><img class="navigation" src="/icons/music.png"/></a>

        Search: <input ng-model="query">
        <select ng-model="orderProp">
          <option value="album">Alphabetical</option>
          <option value="artist">Artist</option>
          <option value="year">Year</option>
        </select>
      </header>

      <div id="artist-view"></div>

  </body>
</html>
