Source: squawk
Section: base
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: Etienne

Package: squawk
Section: base
Priority: optional
Architecture: all
Depends: libpcrecpp0, liblog4cxx10, libimlib2, libavcodec54, libavformat54, libavutil52, libpoppler-cpp0, libcurlpp0
Description: Squawk Media Server
 Media Server with DLNA capabilities 

